repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: requirements-txt-fixer

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.10
    hooks:
    - id: ruff
      args: [ --fix ]

    - id: ruff-format

  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
    - id: check-json5

  - repo: https://github.com/whtsky/pre-commit-pretty-format-json5
    rev: "1.0.0"
    hooks:
    - id: pretty-format-json5
      args: [--indent=4, --no-ensure-ascii]
