repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-json
      exclude: devcontainer
    - id: requirements-txt-fixer
    - id: pretty-format-json
      args: [--autofix, --indent=4, --no-ensure-ascii]
      exclude: devcontainer

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check . --fix
        language: python
        types: [python]
        pass_filenames: false
